@import url(https://fonts.googleapis.com/css?family=Lato);

@font-face {
  font-family: "hand_test";
  src: url(hand_test.ttf);
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background: #ecfbfb url(images/billie-holiday.png); // #83673C 
  //#83673C fixed
}

.LogoText{
  font-family: "hand_test";
  font-size: 50pt;
  font-stretch: extra-expanded;
  /*font-weight: bold;*/
}

.Wraper{
  width:  810px;
  margin: auto;
  position: relative;

}

header {
  position: relative;
  width: 790px;
  
  border-color: rgba(0,0,0,.1);
  border-style: solid;
  border-width: 1px;
  
  //margin: auto;
  margin-top: 10px;
  
  background: white;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,.2);
}

section {
  z-index: -1;
  width:  750px;
  //height: 85vh;
  
  //margin: auto;
  margin-left: 10px;
  margin-bottom: 10px;
  
  background: white;
  
  border-color: rgba(0,0,0,.1);
  border-style: solid;
  border-width: 1px;
  border-top-style: none;
  
  box-shadow: 0 3px 10px -2px rgba(0,0,0,.2);
  
  padding: 10px;
}

footer{
  color: white;
  font-size: 9pt;
  
  //text-align: right;
  
  background-color: black;
  
  margin: -10px;
  margin-top: 10px;
  padding: auto;
  
  min-height: 10px;
}

.demotable {
  font-family: 'Lato', sans-serif;
  //font-size: .9em;
  //letter-spacing: 1px;
  text-decoration: none;
  //text-transform: uppercase;
}
.demotable > div {
  display: table-cell;
  vertical-align: middle;
}

.subtable{
  width: 50%;
 /* border-color: grey;
  border-style: solid;
  border-width: 1px;*/
}

.subtable:hover{
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2); 
}

.subtable > div{
  text-align: left;
  
  display: table-cell;
  vertical-align: top;
  
  padding: 4px;
  padding-bottom: 0px;
}

.cellspace{
  padding: 5px;
}

.subtable a{
  color: dimgray
}

//--------------------------------------------------------------------------
//                                 Навигация
//--------------------------------------------------------------------------


*, *:before, *:after{
  //-webkit-box-sizing: border-box;
  //-moz-box-sizing: border-box;
  //box-sizing: border-box;
  //padding: 0;
  //margin: 0;
  font-family: 'Lato', sans-serif;
}

/*| Navigation |*/

nav{
  display: inline-table;

  //position: relative;
  //top: 0;
  //left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,.2);
  border: 1px solid rgba(0,0,0,.1);
  
  //margin-left: 0px;
  //margin-top: -10px;
  
  //padding-right: 10px;
}

nav ul{
  list-style: none;
  position: relative;
  float: left;
  display: inline-table;
  
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
nav ul li{
  float: left;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

nav ul li:hover{background: rgba(0,0,0,.15);}
nav ul li:hover > ul{display: block; margin-top: 0; padding:0;   z-index: 1;
}
nav ul li{
  float: left;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 1;
}
nav ul li a{
  display: block; 
  padding: 20px 20px;
  color: #222; 
  font-size: .9em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
nav ul ul{
  display: none;
  background: #fff;
  position: absolute; 
  top: 100%;
  box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.1);
  //padding-left: 40px;
  
}
nav ul ul li{float: none; position: relative;   width: 100%;}
nav ul ul li a {
  padding: 20px 30px; 
  border-bottom: 1px solid rgba(0,0,0,.05);
}
nav ul ul ul {
  position: static; 
  left: 100%; 
  top:0;
}	

//--------------------------------------------------------------------------
//                                 Слайдер
//--------------------------------------------------------------------------

#slider {
  text-align: center;
}

#slider h2 {
  margin: 40px 0 25px;
  border-bottom: 1px solid #bbb;
  padding: 0 0 10px;
}

#slider p {
  margin: 0 0 16px;
}

#slider strong { 
  font-weight: bold;
}

#slider label, 
#slider a {
  color: bisque;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;;
}

#slider label:hover, a:hover {
  color: #000 !important;
}

#slider label, #active, img { -moz-user-select:none;-webkit-user-select:none; }
.catch { display: block; height: 0; overflow: hidden; }
#slider {
  margin: 0 auto;
}
#description {
  margin: 25px auto;
  text-align: left;
  max-width: 650px;
  padding: 0 25px;
}
.respond {
  margin: 0 auto;
  max-width: 370px;
}









/* NEW EXPERIMENT */
/* Slider Setup */

#slider input {
  display: none;
}

#slide1:checked ~ #slides .inner { margin-left:0; }
#slide2:checked ~ #slides .inner { margin-left:-100%; }
#slide3:checked ~ #slides .inner { margin-left:-200%; }
#slide4:checked ~ #slides .inner { margin-left:-300%; }
#slide5:checked ~ #slides .inner { margin-left:-400%; }


#overflow {
  width: 100%;
  overflow: hidden;
}

#slides article img {
  width: 100%;
}

#slides .inner {
  width: 500%;
  line-height: 0;
}

#slides article {
  width: 20%;
  float: left;
}

/* Slider Styling */

/* Control Setup */

#controls {
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;
}

#controls label { 
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.3;
}

#active {
  margin: 20% 0 0;
  text-align: center;
}

#active label {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bbb;
}

#active label:hover {
  background: #ccc;
  border-color: #777 !important;
}

#controls label:hover {
  opacity: 0.8;
}

#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4), 
#slide4:checked ~ #controls label:nth-child(5), 
#slide5:checked ~ #controls label:nth-child(1) {
  background: url('next.png') no-repeat;
  float: right;
  margin: 0 -70px 0 0;
  display: block;
}


#slide1:checked ~ #controls label:nth-child(5),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3),
#slide5:checked ~ #controls label:nth-child(4) {
  background: url('prev.png') no-repeat;
  float: left;
  margin: 0 0 0 -70px;
  display: block;
}

#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide4:checked ~ #active label:nth-child(4),
#slide5:checked ~ #active label:nth-child(5) {
  background: #333;
  border-color: #333 !important;
}

/* Info Box */

.info {
  font-family: 'Lato', sans-serif;

  line-height: 20px;
  margin: 160px 0 -150%;
  position: absolute;
  font-style: normal;
  padding: 30px 30px;
  opacity: 0;
  color: blanchedalmond;
  text-align: left;
  color:#ecfbfb;
  text-shadow:  1px 1px 2px black , 0 0 1em #ecfbfb;
}

.info h3 {
  margin: 0 0 5px;
  font-weight: bold;
  font-size: 30px;
  font-style: normal;
  //font-family: "sans-serif";
  //color: blanchedalmond;
  color: #ecfbfb;
}

/* Slider Styling */

#slides {
  margin: 10px 0 0;
  //-webkit-border-radius: 5px;
  //-moz-border-radius: 5px;
  /*//border-radius: 5px;
  //box-shadow: 1px 1px 4px #666;
  */
  
  background: #fff;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,.2);
  border: 1px solid rgba(0,0,0,.1);
  
  padding: 1%;
  background: #fff;
  /* //background: rgb(252,255,244); /* Old browsers */
  /*//background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(219,218,201,1) 100%); /* FF3.6+ */
  /*// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(219,218,201,1))); /* Chrome,Safari4+ */
  /*//background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* Chrome10+,Safari5.1+ */
  /*//background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* Opera 11.10+ */
  /*//background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* IE10+ */
  /*//background: linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* W3C */
  /*//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#dbdac9',GradientType=0 ); /* IE6-9 */
}


/* Animation */

#slides .inner {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

  -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}

#slider {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#controls label{
  -webkit-transform: translateZ(0);
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

#slide1:checked ~ #slides article:nth-child(1) .info,
#slide2:checked ~ #slides article:nth-child(2) .info,
#slide3:checked ~ #slides article:nth-child(3) .info,
#slide4:checked ~ #slides article:nth-child(4) .info,
#slide5:checked ~ #slides article:nth-child(5) .info {
  opacity: 1;
  -webkit-transition: all 1s ease-out 0.6s;
  -moz-transition: all 1s ease-out 0.6s;
  -o-transition: all 1s ease-out 0.6s;
  transition: all 1s ease-out 0.6s;
}

.info, #controls, #slides, #active, #active label, .info h3, .desktop, .tablet, .mobile {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/* Respond Options */

#desktop:checked ~ #slider {
  max-width: 960px;
}

#tablet:checked ~ #slider {
  max-width: 850px;
}

#mobile:checked ~ #slider {
  max-width: 450px;
}

#desktop:checked ~ #slider .desktop,
#tablet:checked ~ #slider .tablet,
#mobile:checked ~ #slider .mobile {
  color: #777;
  opacity: 1;
}

.desktop, .tablet, .mobile {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding-top: 50px;
  opacity: 0.35;
  font-size: 12px;
}

.desktop:hover, .tablet:hover, .mobile:hover {
  opacity: 0.2;
}

/* Responsive Styling */

/* Tablet */

#tablet:checked ~ #slider #controls {
  margin: -25% 0 0 12%;
  width: 76%;
  height: 50px;
}

#tablet:checked ~ #slider #controls label {
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

#tablet:checked  ~ #slider #slides, #mobile:checked  ~ #slider #slides {
  padding: 1% 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#tablet:checked ~ #slider #active {
  margin: 20% 0 0;
}

@media only screen and (max-width: 850px) and (min-width: 450px) {

  #slider #controls {
    margin: -25% 0 0 15%;
    width: 70%;
    height: 50px;
  }

  #slider #controls label {
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  #slider #slides {
    padding: 1% 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }

  #slider #active {
    margin: 20% 0 0;
  }

}

/* Mobile */

#mobile:checked ~ #slider #controls {
  margin: -28% 0 0 24%;
  width: 50%;
  height: 50px;
}

#mobile:checked ~ #slider #active {
  margin: 20% 0 0;
}

#mobile:checked ~ #slider #slides .info {
  opacity: 0 !important;
}

#mobile:checked ~ #slider #controls label {
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}


@media only screen and (max-width: 450px) {

  #slider #controls {
    margin: -28% 0 0 24%;
    width: 50%;
    height: 50px;
  }

  #slider #active {
    margin: 20% 0 0;
  }

  #slider #slides {
    padding: 1% 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }

  #slider #slides .info {
    opacity: 0 !important;
  }

  #slider #controls label {
    -moz-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }

}


@media only screen and (min-width: 850px) {

   body {
    padding: 0 80px;
  }
}